/.vscode
New folder/__pycache__/
New folder/__pycache__/controller_config.cpython-311.pyc
New folder/__pycache__/pi_connection.cpython-311.pyc
New folder/__pycache__/thruster_pwm.cpython-311.pyc
New folder/__pycache__/controller.cpython-311.pyc
